body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 1.5em;
}

.open-modal-btn {
  padding: 0.7em 1em;
  font-size: 1.5em;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border:  1px solid lightgray;
  position: fixed;
  bottom: 1.5em ;
  right: 2.2em;
  color: white;
  background-color: dodgerblue;
}

.modal {
  position: absolute;
  bottom: 50vh;
  left: 40px;
  right: 40px;
  padding: 2em 0;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal h3 {
    text-align: center;
    margin: 0 auto;
  }

.modal-content {
  width: 25em;
}

.user-input-section {
  margin: 1em;
  display: flex;
  flex-direction: column;
}

input[type='text'] {
  padding: 0.5em 2em 0.5em 1em;
  max-width: 100%;
  margin-bottom: 0.2em;
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.btn {
  width: 100%;
}

.list-container {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 7.5em;

}

.delete-btn,
.dnd-btn{
  width: 2em;
  height: 2em;
  border: none;
  border-radius: 10%;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5em;
}

.delete-btn {
  padding: 0.5em;
  background-color: tomato;
}

.delete-btn svg {
  fill: white;
}

.dnd-btn {
  padding: 0.5em;
  background-color: white;
}

.dnd-btn svg {
  fill: lightgray;
}

.task-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  margin-bottom: 0.5em;
  padding: 0.7em ;
  background-color: white;
  background-image: white;
  position: relative;
}

input[type='checkbox'] {
  background-color: white;
  width: 2em;
  height: 2em;
  border: 1px solid lightgray;
  border-radius: 2px;
  margin: 0 0.5em;
  outline: none;
}

label {
  flex: 1;
  margin-left: 0.5em;
  margin-bottom: 4px;
  margin: 0 0.5em 3px 0.5em;
}

.space {
  height: 1em;
}

.char-limit {
  color: tomato;
  font-size: 0.8em;
}

@media (width < 890px) {
  
  .list-container {
    width: 70vw;
  }
}

@media (width < 780px) {
  
  .list-container {
    width: 80vw;
  }
}